::selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-moz-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-webkit-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  padding-top: 5em;
}

.btn-primary {
  background-color: $vue-green;
  border-color: $vue-green;
  color: $gray-lightest;
}

.btn-primary:disabled {
  background-color: $vue-green;
  border-color: $vue-green;
}

.btn-primary:hover {
  background-color: $vue-green-dark;
  border-color: $vue-green;
}

.card-title {
    text-transform: capitalize;
}