<div style="position:relative">
    <input class="form-control" type="text" v-model="selected" @input="updateValue($event.target.value)"
      @keydown.enter = 'enter'
      @keydown.down = 'down'
      @keydown.up = 'up'
      :placeholder = 'selected'
    >
    <div class="dropdown-menu" v-bind:class="{ 'show' : openSuggestion }">
        <a v-for="(suggestion, index) in matches" class="dropdown-item" :class="{'disabled': isActive(index)}" href="#" @click="suggestionClick(index)">{{suggestion.value}}</a>
    </div>
</div>