@import "../../styles/variables";

$grid-lg-break : map-get($grid-breakpoints, 'lg');

.login-provider {

    .btn {
        min-width: 4em;
    }

    .card {
        @media (max-width: $grid-lg-break)  {
            margin-top: 0.5em;
        }
    }
}




