<main class="col">
  <fieldset>
    <legend>{{$t('admin.navigation.users')}}</legend>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{$t('dict.name')}}</th>
            <th class="d-md-table-cell">{{$t('dict.email')}}</th>
            <th>{{$t('dict.enabled')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user,index) in users">
            <td class="caps-low">
              <router-link :to="{ name: 'manageUser', params: { id: user.userId }}">
                <span :title="user.email">{{user.displayName}}</span>
              </router-link>
            </td>
            <td class="d-md-table-cell">{{user.email}}</td>
            <td>
              <toggle v-model="user.enabled" :on-text="onText" :off-text="offText" v-on:input="updateUserStatus(user)"></toggle>
            </td>
          </tr>
        </tbody>
        <tfoot v-show="total">
          <tr>
            <td colspan="4">
              <div v-if="currentPage > 1" @click="navigate(false)" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i>
              </div>
              <div class="paging-splice">{{start}}-{{end}}
                <span class="paging-of">{{$t('dict.of')}}</span>
                <span class="paging-total">{{total}}</span>
              </div>
              <div v-if="(end < total)" @click="navigate(true)" class="btn btn-primary">
                <i class="fa fa-arrow-right"></i>
              </div>
            </td>
          </tr>
          <tr>
            <th colspan="4">
              <div class="form-inline">
                <div class="form-group">
                  <label class="label filter-label" for="registeredAfter">registered after</label>
                  <input class="form-control ml-2" name="registeredAfter" id="registeredAfter" type="date" v-model-date="registeredAfter">
                </div>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </fieldset>
</main>