<div class="container">


  <nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <router-link class="navbar-brand" to="/">
      <img alt="Brand" src="~assets/images/logo.png" height="20">
    </router-link>

    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="nav navbar-nav">
        <router-link class="nav-item" tag="li" to="/" exact>
          <a class="nav-link">{{$t('navigation.home')}}</a>
        </router-link>
        <router-link class="nav-item" tag="li" to="/login" v-if="!user.authenticated" exact>
          <a class="nav-link"><i class="fa fa-sign-in"></i> {{$t('navigation.login')}}</a>
        </router-link>
        <router-link class="nav-item" tag="li" to="/signup" v-if="!user.authenticated" exact>
          <a class="nav-link"><i class="fa fa-user-plus"></i> {{$t('navigation.signup')}}</a>
        </router-link>
        <li class="nav-item">
          <a class="nav-link" href="#" v-if="user.authenticated" @click.prevent="logout()"><i class="fa fa-sign-out"></i> {{$t('navigation.logout')}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle lang" id="localeChange" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-globe"></i></a>
          <div class="dropdown-menu" aria-labelledby="localeChange">
            <a v-for="locale in locales" class="dropdown-item" href="#" v-on:click.prevent="changeLocale(locale, $event);" :class="{'disabled': ($lang === locale)}">{{locale}}</a>
          </div>
        </li>
      </ul>
      <form class="form-inline navbar-form">
        <a class="nav-link show-search-input" href="#" @click.prevent="showSearchInput()"><i class="fa fa-lg" :class="{ 'fa-search-minus': searchOptions.showInput, 'fa-search': !searchOptions.showInput }"></i></a>
        <input class="form-control" type="text" v-if="searchOptions.showInput" v-model="searchOptions.searchText" @blur="submitSearch"
          :placeholder="$t('dict.search')" />
      </form>
    </div>
  </nav>
</div>